.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position:sticky;
    top:0;
    z-index: 100;
    
}
.header_logo {
    height:80px;
    /* width: 60px; */
    object-fit: contain;
    margin-left: 20px;
    margin-top: -30px;
}
.header_input {
     display: flex;
    align-items: center;
    width:40%;
    border: 2px solid black;
    
    
    
}
.header_input > input {
    flex:1;

}
.header_inputButton {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    cursor: pointer;
}

.header_icons {
    display: flex;
    align-items: center;
}
.header_icon{
    margin-right: 10px;
}
